.row{
    position: relative;
    bottom: 350px;
    line-height: 30px;
    left: 5px; 
    width: 1300px;
}
.contenedor{
    width: auto;
    text-align: center;
}
.parte1, .parte2{
display: inline-block;
text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 50px #000000;
}