<div class="row">
  <h1>Estudios</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
          Agregar Estudios
      </button>
  </div>
  <div class="col lg 1"></div>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let Educacion of educacion">
                  <td>
                      <p>{{Educacion.nombreE}}</p>
                  </td>
                  <td>{{Educacion.descripcionE}}</td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}">
                          <i class="bi bi-pencil-fill"></i>EDITAR</button>
                  </td>
                  <td *ngIf="isLogged">
                      <button class="btn btn-dark" (click)="delete(Educacion.id)">
                          <i class="bi bi-trash-fill"></i>BORRAR</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
<div class="Estudios">
    <h2>Historial Académico</h2> 
    <p>CULTCA. Lic en Administraciön (Septiembre 2012 - Julio 2015)</p>
    <p>CULTCA. TSU en Administraciön (Julio 2010 - Septiembre 2012)</p>
    <img Class="Segunda-img"src="assets/IMG CULTCA (2).png" alt="Univeridad CULTCA" style="width: 960px;">
    </div>
    <div class="Blog">
    <a href="http://pnfcultcaupel2013.blogspot.com/">blogspot</a>
    </div> 
    