<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="70"
       [radius]="80"
       [imageSrc]="'assets/html.webp'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="70"
       [radius]="80"
       [imageSrc]="'assets/Github1.png'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="70"
       [radius]="80"
       [imageSrc]="'assets/css.png'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="70"
       [radius]="80"
       [imageSrc]="'assets/html.webp'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="70"
       [radius]="80"
       [imageSrc]="'assets/html.webp'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
       [percent]="70"
       [radius]="80"
       [imageSrc]="'assets/html.webp'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
</div>
  

