<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="col-lg-2">
    <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
</div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3 circulo" *ngFor="let skill of skill">
    <circle-progress
       [percent]="(skill.porcentaje)"
       [radius]="80"
       [imageSrc]="''"
       [title]="(skill.nombre)"
       [titleColor]="'blue'"
       [showTitle]="true"
       [showImage]="false"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  <div>
    <td *ngIf="isLogged">
        <button class="btn btn-dark" routerLink="/editskill/{{skill.id}}">
            <i class="bi bi-pencil-fill"></i>EDITAR</button>
    </td>
    <td *ngIf="isLogged">
        <button class="btn btn-dark" (click)="delete(skill.id)">
            <i class="bi bi-trash-fill"></i>BORRAR</button>
    </td>
</div>
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
       [percent]="80"
       [radius]="80"
       [imageSrc]="'assets/Github1.png'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
       [percent]="90"
       [radius]="80"
       [imageSrc]="'assets/css.png'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
       [percent]="80"
       [radius]="80"
       [imageSrc]="'assets/angular.png'"
       [showImage]="true"
       [imageWidth]="100"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
       [percent]="80"
       [radius]="80"
       [imageSrc]="'assets/Java.jpg'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-4 col-md-3 col-lg-3">
    <circle-progress
       [percent]="80"
       [radius]="80"
       [imageSrc]="'assets/php.jpg'"
       [showImage]="true"
       [imageWidth]="80"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
  <div class="text-center col-sm-3 col-md-3 col-lg-3">
    <circle-progress
       [percent]="90"
       [radius]="80"
       [imageSrc]="'assets/html.webp'"
       [showImage]="true"
       [imageWidth]="70"
       [imageHeight]="70"
       [showUnits]="false"
       [outerStrokeWidth]="10"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'blue'"
       [innerStrokeColor]="'blue'"
       [animation]="true"
       [animationDuration]="300"
  ></circle-progress> 
  </div>
</div>
  

