<div class="Laboral">
    <h2>Experiencia</h2>
    <h3> Neomdigital.4 </h3>
  <p>Cargo: Encargada (2022)</p>
  <P>Manejo de redes sociales y ventas Mayoristas.
    - Facturacion mas compras de productos importados. Otras funciones admon.
  </P>
  <h3> Banco Nacional de Credito </h3>
  <p>Cargo: Coordinadora (2017)</p>
  <P>Responsable de todas las operaciones diarias. Asesoramientos del personal durante la jornada laboral. 
      Otras funciones admon.
  </P>
  <h3> Banco Nacional de Credito</h3>
  <p>Cargo: Cajera (2015)</p>
  <P>Manejo de efectivos. Atencion al cliente
        - Capacitación de control y riesgos financieros y vocación de servicio.
  </P>
  </div>
  <div>
  <img class="Tercera-img"src="assets/LogoNeom.jpeg" alt="Neomdigital" style="height: 120px;">
  </div>
  <div>
  <img class="Cuarta-img"src="assets/BNC.jpg" alt="BNC" style="height: 120px;">
  </div>
  <div class="Estudios">
    <h2>Historial Académico</h2> 
    <p>CULTCA. Lic en Administraciön (2014)</p>
    <p>CULTCA. TSU en Administraciön (2012)</p>
    <img Class="Segunda-img"src="assets/IMG CULTCA (2).png" alt="Univeridad CULTCA" class="img-fluid">
    </div>
    <div class="Blog">
    <a href="http://pnfcultcaupel2013.blogspot.com/">blogspot</a>
    </div>
    

