.row{
    position: relative;
    bottom: 300px;
    line-height: 30px;
    width: 1300px;
}
.Segunda-img {
    height: 7em;
    width: 1000px;
    position: relative;
    left: 300px;
    bottom: 100px;
    margin: 1em;
    padding: 1em;
    background-size: cover;
}
.Estudios {
    position: relative;
    left: 5px;
    bottom: 300px;
    width: 1300px;
}
.Blog {
    position: relative;
    bottom: 480px;
}
