.img-fluid{
    height: 20em;
    left: 5px;
    border-radius:100%;
    position: relative;
    bottom: 280px;
}
.Correo {
    color:blue;
    padding: 3px;
    position: relative;
    left: 380px;
    nav-up:10px;
    bottom: 350px;
}
.Informacion {
    border-radius:30px;
    position: relative;
    border-style: solid;
    border-color: blue;
    bottom: 320px;
    width: 900px;
    padding: 1em;
    text-align: center;
    left: 200px;
    
    }
    Img {
        max-width: 100%;
        height: auto;
    }
    .Acerca {
        color:black;  
        position: relative;
        left: 10px;
        nav-up:10px;
        bottom: 350px;
        line-height: 30px;
        padding: 1em;
        width: 1300px;
        text-align:start;
    }
    /* Etiqueta nombre*/
    #nombre {
     font-weight:bold;
    }
    .row{
        padding: 20px;
    }
   /*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px aqua;
        left: 3%;
        top:550px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px aqua;
        left: 33%;
        top:950px;
       }   }
.btn {
position: relative;
bottom: -50px;
}




   
    