<div>
  <img src="assets/Perfil.jpg" alt="Foto de perfil" style="width: 200px;" class="img-fluid">
</div>
<div class="Correo">
    <h1>Nereida del C Aleman B </h1>
  <h2>Full Stack Developer Jr</h2>
</div> 
<div class="Acerca"> 
  <h1>Acerca de mí</h1>
    <p> Soy una persona comprometida y honestad.
    Mi desempeño es eficaz y eficiente, teniendo la capacidad para trabajar en equipo. 
    Por el cual siempre me encuentro con la disponiblidad de adquirir nuevos conocimientos, bien sea en el area de informatíca o adminitrativa.</p>
  </div>
  <div class="Informacion">
    <h2> Informacion de contacto</h2>
    <p>Buenos Aires,Monserrat.</p>
    <p>Naleman904@gmail.com / Nereidaleman19@hotmail.com </p>
  </div>
  
  
