#LogoAP{
    width: 150px;
}
img{
    width: 50px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Redes{
    background-color: black;
    border-radius: 100px;
    margin-right: 0.5em;
    
}
.btn{
    border-width: medium;
    
}
/*...para la vista de celular...*/
@media (max-width:575px){
.container{
    flex-direction:column;
}
.Redes{
    display: flex;
    flex-direction:column;
    align-items:center;
}
.Redes img{
    margin: 0.2em;
    right: 30px;
}
}