body {
    background:aqua;
    font-family:'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1em;
    margin-right:1000px;
    min-width: 1000px;
<<<<<<< HEAD
    color: black;
   
=======
>>>>>>> 551334bc383bfaf4e18a228194208f024dd42e06
}
h2 {
    text-decoration:underline;
    color: darkmagenta;
}

header{
        font-family:Arial, Helvetica;
    }
 h3{
        text-decoration:underline;
<<<<<<< HEAD
        color: darkmagenta;
    }
=======
    }


>>>>>>> 551334bc383bfaf4e18a228194208f024dd42e06
